[Unit]
Description=Configura variáveis de ambiente para Wayland
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=bash -c "source /usr/local/bin/environment-wayland"
RemainAfterExit=yes

[Install]
WantedBy=default.target
